.App {
  text-align: center;
}

.modalText {
  text-align: center !important;
}

.Header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Main {
  padding-top: 20px;
}

.ui.grid > .row > .column {
  padding-left: .2rem;
  padding-right: .2rem;
}

.ui.grid > .row {
  padding-bottom: .1rem;
  padding-top: .1rem;
}

.ui.item.menu .item {
  padding: 0 !important;
}

.rowIcon {
  height: 20px;
  width: 20px;
}

.boonCellTable {
  width: 100%;
}

.boonCellTable > tbody > tr > td {
  padding-bottom: 0;
}

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.outlineText {
  color: black;
  text-shadow: -1px -1px 10px #FFF, 1px -1px 10px #FFF, -1px 1px 10px #FFF, 1px 1px 10px #FFF;
}

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: not-allowed;
}

.modalButtons {
  display: flex;
}

.App-link {
  color: #61dafb;
}

.NavbarButton {
  color: #e8c423 !important;
  font-weight: bold;
}
