/* Main */

.App {
  text-align: center;
}

.Main {
  padding-top: 20px;
  padding-right: 30px;
}

.NavbarButton {
  color: #e8c423 !important;
  font-weight: bold;
}

/* grid overrides */

.ui.grid > .row > .column {
  padding-left: .2rem;
  padding-right: .2rem;
}

.ui.grid > .row {
  padding-bottom: .2rem;
  padding-top: .1rem;
}

.ui.item.menu .item {
  padding: 0 !important;
}

.segment {
  line-height: 100%;
}

/* cells and components */

.rowTextCell {
  display: block;
}

.rowIconCell {
  height: 20px;
  width: 20px;
}

.rowIcon {
  height: 100%;
  width: 100%;
}

.boonCellTable {
  width: 100%;
  margin-left: 2px;
  border-collapse: collapse;
}

.rowHeaderTable {
  width: 100%;
  text-align: right;
}

.boonCellTable, .rowHeaderTable > tbody > tr > td {
  font-size: 70%;
}

.modalButtons {
  display: flex;
}

.modalText {
  text-align: center !important;
}


/* general styling */

.greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.outlineText {
  color: black;
  text-shadow: -1px -1px 10px #FFF, 1px -1px 10px #FFF, -1px 1px 10px #FFF, 1px 1px 10px #FFF;
}


/* interactive */

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: not-allowed;
}
